.form {
  max-width: 1000px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: auto;
}

.form__currencyContainer {
  border: none;
  background-color: #3c4048;
  padding: 10px;
  border-radius: 5px;
}

.form__currencyOption {
  color: #eaeaea;
  margin-left: 20px;
}

.form__setResult {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.form__input {
  margin-top: 30px;
  margin: 20px;
  padding: 15px;
  border-radius: 5px;
  border: none;
}

.form__result {
  font-weight: 900;
  color: #ffffff;
  background-color: #3c4048;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 20px;
}
