.button {
  background-color: #3C4048;
  padding: 15px;
  border: none;
  border-radius: 10px;
  color: #EAEAEA;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 20px auto;
  transition: 0.5s;
}

.button:hover {
  background-color: hsl(220, 9%, 36%);
}

.button:active {
  background-color: hsl(220, 9%, 46%);
}